    <!-- Main Footer -->
<footer class="main-footer">
    <strong>Copyright &copy; 2023-2024 <a href="https://www.facebook.com/youssef74mohamed?mibextid=ZbWKwL">Youssef Mohamed-YMK</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <a target="_blank" class="text-danger" href="http://www.linkedin.com/in/youssef-mohamed-b5096626b"><i class="fab fa-lg fa-linkedin"></i></a>
        <a target="_blank" class="text-danger" href="https://github.com/Ymk74"><i class="fab fa-lg fa-github"></i></a>
        <a target="_blank" class="text-warning" href="https://instagram.com/ymk_74_?igshid=MzRlODBiNWFlZA=="><i class="fab fa-lg ml-1 fa-instagram"></i></a>
        <a target="_blank" href="https://www.facebook.com/youssef74mohamed?mibextid=ZbWKwL"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
       
    </div>
  </footer>